#!/usr/bin/make -f

override_dh_auto_build:
	mkdir -p .deps/build
	cp -a deps-src/* .deps/build/
	make CMAKE_BUILD_TYPE=RelWithDebInfo CMAKE_INSTALL_PREFIX=/usr
	make doc

override_dh_auto_test:
	build/bin/nvim --version
	build/bin/nvim --headless -u NONE -i NONE -c ':quit'

override_dh_prep:
	mkdir -p debian/tmp/usr/share/doc/neovim-runtime/
	cp -a build/runtime/doc/* debian/tmp/usr/share/doc/neovim-runtime/

%:
	dh $@ --with quilt
